<div class="container">
  <footer class="footer">
    <small>
      Derechos reservados &copy; <a href="https://www.alpha-blog-miguel.herokuapp.com">Alpha blog Miguel</a>
      Hecho por Miguel Moreno
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "Acerca de", about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>