<div class="container">
    <div class="col-xs-10 col-xs-offset-1">
    <% flash.each do |name, msj| %>
      <div class='alert alert-<%= "#{name}" %>'>
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msj, :id => "flash_#{name}" if msj.is_a?(String) %>
      </div>    
    <% end %>
    </div>
</div>