<h1 align="center">Lista de todos los articulos</h1>

<div align="center">
  <%= will_paginate %>
</div>
<%= render 'articulo', objeto: @articulos %>
<div align="center">
  <%= will_paginate %>
</div>
<% if @articulos.empty? %>
  <div align="center">
    <h1 class="empty">No hay articulos</h1>
  </div>
<% end %>
