<h1> Mostrando el articulo seleccionado</h1>
<p>
  Titulo: <%= @articulo.titulo %>
</p>

<p>
  Descripcion: <%= @articulo.descripcion %>
</p>

<%= link_to "Editar este articulo", edit_articulo_path(@articulo) %> |

<%= link_to "Volver a la lista de articulos", articulos_path %>